{% extends 'base.html.twig' %}

{% block title %}Module Details{% endblock %}

{% block body %}
    <h1>{{ module.name }}</h1>
    {% set currentTime = "now"|date('U') %}
    {% if module.status == 1 and module.startedAt is defined and module.startedAt is not null %}
        <p class="alert alert-success">Etat du module: En marche </p>
            {% set startTime = module.startedAt|date('U') %}
            {% set durationSeconds = currentTime - startTime %}
            {% set durationHours = durationSeconds // 3600 %}
            {% set durationMinutes = (durationSeconds % 3600) // 60 %}
            {% set durationSecondsLeft = durationSeconds % 60 %}
            <p class="alert alert-secondary">Durée de fonctionnement : {{ durationHours }} heures, {{ durationMinutes }} minutes et {{ durationSecondsLeft }} secondes</p>
    {% elseif module.stoppedAt is defined and module.stoppedAt is not null %}
        <p class= "alert alert-danger">Etat du module: Eteint</p>
            {% set stoppedTime = module.stoppedAt|date('U') %}
            {% set durationSeconds = currentTime - stoppedTime %}
            {% set durationHours = durationSeconds // 3600 %}
            {% set durationMinutes = (durationSeconds % 3600) // 60 %}
            {% set durationSecondsLeft = durationSeconds % 60 %}
        <div class="alert alert-secondary">
        <p>
            Mise en pause depuis {{ durationHours }} heures, {{ durationMinutes }} minutes et {{ durationSecondsLeft }} secondes
        </p>
        <span>
            {% set startTime = module.startedAt|date('U') %}
            {% set stoppedTime = module.stoppedAt|date('U') %}
            {% set workingTime = stoppedTime - startTime %}
            {% set workingHours = workingTime // 3600 %}
            {% set workingMinutes = (durationSeconds % 3600) // 60 %}
            {% set workingSecondsLeft = durationSeconds % 60 %}
            Le module a fonctionné pendant :  {{ workingHours }} heures, {{ workingMinutes }} minutes et {{ workingSecondsLeft }} secondes
        </span>
        </div>

    {% else %}
        <p>Etat du module: Inconnu</p>
    {% endif %}
   
    {% set sensorData = [] %}
    {% for sensor in sensors %}
        {% set sensorItem = { 'id': sensor.id, 'type': sensor.type } %}
        {% set sensorData = sensorData|merge([sensorItem]) %}
    {% endfor %} 

    {% set measurementData = [] %}
    {% for measurement in measurements %}
        {% set sensorId = measurement.sensor.id %}
        {% set measurementItem = { 'id': measurement.id, 'value': measurement.value, 'createdAt': measurement.createdAt, 'sensorId': sensorId } %}
        {% set measurementData = measurementData|merge([measurementItem]) %}
    {% endfor %}

    {% set moduleData = {
        id: module.id,
        name: module.name,
        status:module.status,
        'sensors': sensorData,
        'measurements': measurementData 
        }
    %}
    
    <div id="module-data" hidden="hidden" data-module="{{ moduleData|json_encode}}"></div>
    <div maxWidth="1024px" class="block">
        <p class="text-white">Choisissez un capteur pour afficher les données</p>
        <select id="sensor-select">
            <option value="default">Sélectionner</option>
            {% for sensor in moduleData.sensors %}
                <option value="{{ sensor.id }}">{{ sensor.type }}</option>
            {% endfor %}
        </select>
        <canvas id="myChart"></canvas>
    </div>
    {# Afficher d'autres détails du module ici #}
{% endblock %}

{% block javascripts %}
{# Charger la bibliothèque Chart.js avant votre script JavaScript #}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let ctx = document.getElementById('myChart').getContext('2d');
            let data = {
                labels: [],
                datasets: [{
                    label: 'Module Data',
                    data: [],
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            };

            let myChart = new Chart(ctx, {
                type: 'line', // Changez ce type selon votre besoin
                data: data,
                options: {
                    responsive: true,
                    plugins: {
                        title: {
                            display: true,
                            text: `Module 1 Data`
                        },
                    },
                    interaction: {
                        intersect: false,
                    },
                    scales: {
                        x: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Time'
                            }
                        },
                        y: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Value'
                            },
                            suggestedMin: -20,
                            suggestedMax: 50
                        }
                    }
                }
            });


            const moduleData = document.getElementById('module-data');
            const moduleDataParsed = JSON.parse(moduleData.dataset.module);
            const sensorSelect = document.getElementById('sensor-select');

            sensorSelect.addEventListener('change', function() {
                const selectedOption = sensorSelect.selectedOptions[0];
                const selectedTitle = selectedOption.textContent;

                if (sensorSelect.value === 'default') {
                    myChart.data.labels = [];
                    myChart.data.datasets[0].data = [];
                    myChart.update();
                    return;
                }

                const selectedSensorId = parseInt(sensorSelect.value);

                const measurementsForSelectedSensor = moduleDataParsed.measurements.filter(item => item.sensorId === selectedSensorId);
                const limitedMeasurementsForSelectedSensor = measurementsForSelectedSensor.slice(-20);
                       // Formatter les étiquettes et les valeurs pour le nouveau capteur sélectionné
                const labels = limitedMeasurementsForSelectedSensor.map(item => {
                const date = new Date(item.createdAt.date);
                date.setHours(date.getHours() + 2); // Ajoutez 6 heures au temps actuel
                const dayOfMonth = date.getDate();
                const month = date.getMonth() + 1;
                const hours = ('0' + date.getHours()).slice(-2); // Ajoute un zéro devant si nécessaire
                const minutes = ('0' + date.getMinutes()).slice(-2); // Ajoute un zéro devant si nécessaire
                return `${dayOfMonth}/${month} - ${hours}:${minutes}`;
                });

                const values = limitedMeasurementsForSelectedSensor.map(item => item.value);

                // Mettre à jour les données du graphique avec les nouvelles valeurs
                myChart.data.labels = labels;
                myChart.data.datasets[0].data = values;
                myChart.options.scales.y.suggestedMin = Math.min(...values) - 5;
                myChart.options.scales.y.suggestedMax = Math.max(...values) + 5;
                myChart.options.scales.y.title.text = `${selectedTitle}`
                console.log(moduleDataParsed)
                // Mettre à jour le titre du graphique avec le type du nouveau capteur sélectionné
                myChart.options.plugins.title.text = `${moduleDataParsed.name} : ${moduleDataParsed.sensors.find(sensor => sensor.id === selectedSensorId).type} data`;

                // Mettre à jour le graphique
                myChart.update();
            });
        });
    </script>
{% endblock %}